data/des.json
data/dsu.json
data/duserdate.json
data/scores_successifs.json
<<<<<<<<< Temporary merge branch 1
__pycache__
=========
essai.py
__pycache__
*.html
.idea/
.ipynb_checkpoints/
Notebook_EI.ipynb

>>>>>>>>> Temporary merge branch 2

